@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav justify-content-end">
        <li class="nav-item">
            @Html.ActionLink("Hallo " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "nav-link", title = "Manage" })
        </li>
    </ul>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a class="btn btn-primary" href="javascript:document.getElementById('logoutForm').submit()">Abmelden</a>
    }
}
else
{
    using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class= "form-inline my-2 my-lg-0" }))
    {
        @Html.AntiForgeryToken()
        <input type="text" class="form-control mr-sm-2" name="Email" size="25" placeholder="Benutzername">
        <input type="password" class="form-control mr-sm-2" name="Password" size="25" placeholder="Passwort">
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Anmelden</button>
    }
}