@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<address>
   Sven Kammer
   Turnverein Hausen am Albis
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:svenkammer@bluewin.ch">svenkammer@bluewin.ch</a><br />
</address>